<!DOCTYPE html>
<html>
<head>
  <style>
    .button {
      transition: background-color 0.3s, color 0.3s; /* スムーズなトランジション */
    }

    .button:hover {
      background-color: #f0f0f0; /* ホバー時の背景色 */
      color: #333; /* ホバー時の文字色 */
    }

    .button:active {
      background-color: #e0e0e0; /* クリック時の背景色 */
      color: #111; /* クリック時の文字色 */
    }

    .alert {
      color: red; /* Tailwind red-500 */
    }
  </style>
  <!-- Font AwesomeのCDNを読み込む -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<%= render "shared/header" %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <div class="flex-grow p-4 flex-col md:flex-row" style="display: flex; flex-direction: column;">  
    <div class="actions mb-4 flex mr-5">
      <% breadcrumb :edit_password_users %>
      <%= breadcrumbs separator: " › " %>
    </div>
    <main class="flex-grow p-4 flex flex-col items-center justify-center">
      <h2 class="text-3xl mb-4">パスワード新規設定</h2>

      <%= form_with model: @user, url: update_password_users_path, local: true, data: { turbo: false }, html: { class: "w-full max-w-md" } do |form| %>
        <div class="mb-6">
          <div class="field mb-4">
            <%= form.label :password, "パスワード ※6文字以上で設定してください" %>
            <%= form.password_field :password, required: true, class: "rounded w-full py-2 px-3" %>
          </div>
          <div class="field mb-6">
            <%= form.label :password_confirmation, "パスワード（確認）" %>
            <%= form.password_field :password_confirmation, required: true, class: "rounded w-full py-2 px-3" %>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center md:items-start mb-5">
          <div class="flex mb-5 justify-between w-full">
            <div class="actions mb-5 flex mr-5">
              <%= link_to "キャンセル", users_show_path, class: "bg-gray-300 text-black flex items-center px-4 py-2 rounded shadow button" %>
            </div>
            <div class="actions mb-5 flex">
              <%= form.submit "登録", class: "bg-white text-black flex items-center px-4 py-2 rounded shadow button" %>
            </div>
          </div>
        </div>
      <% end %>
    </main>
  </div>  
</body>

<%= render "shared/footer" %>
</html>