<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> <!-- Aldrichフォントをインポート -->
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 高さを画面いっぱいにする */
    }
    footer {
      margin-top: auto; /* フッターを下に寄せる */
    }
    header h2 {
      font-family: 'Aldrich', sans-serif; /* Aldrichフォントを適用 */
    }
    .link {
      transition: color 0.3s; /* スムーズなトランジション */
    }

    .link:hover {
      color: #E3E3E3; /* ホバー時の文字色 */
    }

    .link:active {
      color: #A9A9A9; /* クリック時の文字色 */
    }

    .field_with_errors {
      display: inline-block;
      width: 100%; /* 親要素の幅を維持 */
    }
  </style>
</head>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <header class="bg-[#FFC276] text-white p-6 flex justify-between items-center mb-5">
    <div class: "text-white link">
      <h2 class="text-4xl">DreamScope100</h2>
    </div>
  </header>

  <%= render "devise/shared/error_messages", resource: resource %>

  <% if flash[:alert].present? %>
    <div class="flash alert" style="color: red;"><%= flash[:alert] %></div>
  <% end %>

  <div class="flex-grow p-4 flex-col md:flex-row" style="display: flex; flex-direction: column;">
    <main class="flex-grow p-4 flex flex-col items-center justify-center">
      <h2 class="text-3xl mb-4">パスワード再設定</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :patch, class: "new_user", id: "new_user" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
            ※<%= @minimum_password_length %>文字以上で設定してください
          <% end %>
        </div>
        <div class="field mb-4">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "rounded w-full py-2 px-3" %>
        </div>

        <div class="field mb-7">
          <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded w-full py-2 px-3" %>
        </div>

        <div class="actions flex justify-center">
          <%= f.submit "パスワード変更", class: "bg-white text-black flex items-center px-4 py-2 rounded shadow button" %>
        </div>
      <% end %>
    </main>
  </div>
  <footer class="bg-[#FFC276] text-white p-4 flex items-center justify-center">
    <p>© 2025 DreamScope100. All rights reserved.</p>
  </footer>
</body>

<!-- Font AwesomeのCDNを読み込む -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</html>