<!DOCTYPE html>
<html>
<style>
  .button {
    width: 180px; /* 固定幅（LINEボタンに合わせる） */
    height: 48px; /* 固定高さ */
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s; /* スムーズなトランジション */
  }

  .button:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
    color: #333; /* ホバー時の文字色 */
  }

  .button:active {
    background-color: #e0e0e0; /* クリック時の背景色 */
    color: #111; /* クリック時の文字色 */
  }
  .btn-line {
    width: 180px; /* 固定幅（LINEボタンに合わせる） */
    height: 48px; /* 固定高さ */
    background-color: #00C300;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* スムーズなトランジション */
  }
  .btn-line:hover {
    background-color: #00A300;
  }

  /* 「または」のスタイル */
  .or-container {
    display: flex;
    align-items: center;
    width: 200px; /* ボタンと同じ幅 */
    margin: 20px 0;
  }

  .or-line {
    flex: 1;
    height: 1px;
    background-color: black; /* 薄いグレー */
  }

  .or-text {
    margin: 0 10px;
    font-size: 13px;
  }
</style>

<%= render "shared/beforelogin_header" %>

<% if flash[:alert].present? %>
  <div class="flash alert" style="color: red;"><%= flash[:alert] %></div>
<% end %>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <main class="flex-grow p-4 flex flex-col items-center justify-center">
    <h2 class="text-3xl mb-4">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full max-w-md" }) do |f| %>

      <div class="field mb-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded w-full py-2 px-3" %>
      </div>

      <div class="field mb-1">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "rounded w-full py-2 px-3 mb-5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-4 flex justify-center">
          <%= f.check_box :remember_me, class: "mr-1" %>
          <%= f.label :"ログイン状態を保持する" %>
        </div>
      <% end %>

      <div class="actions mb-2 flex justify-center">
        <%= button_tag type: 'submit', class: "bg-white text-black flex items-center px-4 py-2 rounded shadow button" do %>
          <i class="fas fa-sign-in-alt mr-2"></i>ログイン
        <% end %>
      </div>
    <% end %>

    <!-- 「または」のセクション -->
    <div class="or-container">
      <div class="or-line"></div>
      <span class="or-text">または</span>
      <div class="or-line"></div>
    </div>

    <div class="mt-2 mb-10">
      <%= button_to "LINEでログイン", user_line_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-line" %>
    </div>

    <%= render "devise/shared/links", class: "mt-4" %>
  </main>
</body>

<!-- Font AwesomeのCDNを読み込む -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<%= render "shared/footer" %>
</html>