<!DOCTYPE html>
<html lang="ja">

<%= render "shared/beforelogin_header" %>

<% if flash[:alert].present? %>
  <div class="flash alert" style="color: red;"><%= flash[:alert] %></div>
<% end %>

<body class="bg-[#FFF5E8] flex flex-col min-h-screen">
  <main class="flex-grow p-4 flex flex-col items-center justify-center">
    <h2 class="text-3xl mb-4">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full max-w-md" }) do |f| %>

      <div class="field mb-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded w-full py-2 px-3" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "border rounded w-full py-2 px-3 mb-5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-4 flex justify-center">
          <%= f.check_box :remember_me, class: "mr-1" %>
          <%= f.label :"ログイン状態を保持する" %>
        </div>
      <% end %>

      <div class="actions mb-5 flex justify-center">
        <%= button_tag type: 'submit', class: "bg-white text-black flex items-center px-4 py-2 rounded shadow" do %>
          <i class="fas fa-sign-in-alt mr-2"></i>ログイン
        <% end %>
      </div>
    <% end %>

    <%= render "devise/shared/links", class: "mt-4" %>
  </main>
</body>

<!-- Font AwesomeのCDNを読み込む -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<%= render "shared/footer" %>
</html>