<!DOCTYPE html>
<html>

<%= render "shared/header" %>

<%= render 'devise/shared/error_messages', resource: @goal %>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <div class="flex-grow p-4 flex-col md:flex-row" style="display: flex; flex-direction: column;">  
    <div class="actions mb-4 flex mr-5">
      <% breadcrumb :goal_new %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
  </div>
  <main class="flex-grow p-4 flex flex-col items-center justify-center">
    <h2 class="text-3xl mb-3">目標作成</h2>
    <%= form_with model: @goal, local: true, html: { class: "w-full max-w-md" } do |form| %>
      <div class="mb-4">
        <%= form.label :title, "目標" %>
        <%= form.text_area :title, placeholder: "目標を入力してください", required: true, class: "rounded p-2 w-full" %>
      </div>

      <div class="mb-4">
        <%= form.label :due_date, "達成目標日" %>
        <%= form.date_field :due_date, class: "rounded p-2 w-full" %>
      </div>

      <div class="mb-9">
        <%= form.label :status, "達成状況" %>
        <%= form.select :status, Goal.statuses.keys.map { |status| [status.humanize, status] }, { prompt: '選択してください' }, { class: "rounded p-2 w-full" } %>
      </div>

      <div class="flex flex-col justify-center items-center md:items-start mb-5">
        <div class="flex mb-5 justify-between w-full">
          <div class="actions mb-5 flex mr-5">
            <%= link_to "キャンセル", goals_path, class: "bg-gray-300 text-black flex items-center px-4 py-2 rounded shadow button" %>
          </div>
          <div class="actions mb-5 flex">
            <%= form_with model: @goal, url: goals_path, local: true do |form| %>
              <%= form.submit "作成", class: "bg-white text-black flex items-center px-4 py-2 rounded shadow button" %>
            <% end %>
          </div>
        </div>  
      </div>
    <% end %>  
  </main>

</body>

<%= render "shared/footer" %>
<!-- Font AwesomeのCDNを読み込む -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</html>