<!DOCTYPE html>
<html>
<head>
  <!-- Turboのキャッシュを無効化 -->
  <meta name="turbo-cache-control" content="no-cache">
  <!-- Font AwesomeのCDNを読み込む -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <style>
    .button {
      transition: background-color 0.3s, color 0.3s; /* スムーズなトランジション */
    }

    .button:hover {
      background-color: #f0f0f0; /* ホバー時の背景色 */
      color: #333; /* ホバー時の文字色 */
    }

    .destroy_button:hover {
      background-color: #FFAAAA; /* ホバー時の背景色 */
      color: #333; /* ホバー時の文字色 */
    }

    .button:active {
      background-color: #e0e0e0; /* クリック時の背景色 */
      color: #111; /* クリック時の文字色 */
    }
  </style>
</head>

<%= render "shared/header" %>

<p style="color: green"><%= notice %></p>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <div class="flex-grow p-4 flex-col md:flex-row" style="display: flex; flex-direction: column;">  
    <div class="actions mb-4 flex mr-5">
      <% breadcrumb :goal_show %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <main class="flex-grow p-4 flex flex-col items-center justify-center">
      <div class="w-full max-w-md">
        <!-- 入力内容を白いメモ風の背景で囲む -->
        <div class="bg-white rounded p-8 mb-8">
            <div class="mb-2">
                <span class="text-left mb-5">【目標】</span>
                <span class="text-left block mt-1 min-h-[36px] w-full word-break: break-all" style="white-space: pre-wrap;"><%= @goal.title %></span>
            </div>
            <div class="border-b border-gray-300 my-7"></div>
            <div class="mb-2">
                <span class="text-left mb-5">達成予定日：</span>
                <span class="text-left"><%= @goal.due_date %></span>
            </div>
            <div class="mb-2">
                <span class="text-left mb-8">達成状況：</span>
                <span class="text-left"><%= @goal.status %></span>
            </div>
            <div class="mb-2">
                <span class="text-left mb-8">通知設定：</span>
                <span class="text-left"><%= @goal.notify_enabled? ? "ON" : "OFF" %></span>
            </div>
            <div class="mb-2">
                <span class="text-left mb-8">カテゴリー：</span>
                <span class="text-left"><%= @goal.category %></span>
            </div>
        </div> 

        <div class="flex flex-col justify-center items-center md:items-start mb-5">
        <div class="flex justify-between w-full">
            <div class="actions mb-5 flex mr-40">
            <%= link_to "一覧へ戻る", goals_path, class: "bg-gray-300 text-black flex items-center px-4 py-2 rounded shadow button" %> 
            </div>
            <div class="actions mb-5 flex mr-5">
              <%= button_to "削除", @goal, method: :delete, class: "bg-[#FFDADA] text-black flex items-center px-4 py-2 rounded shadow destroy_button", onclick: "return confirm('削除しますか？');" %>
            </div>
            <div class="actions mb-5 flex">
              <%= link_to "編集", edit_goal_path, class: "bg-white text-black flex items-center px-4 py-2 rounded shadow button", data: { turbo: false } %>
            </div>
        </div>  
    </main>
  </div>
</body>

<%= render "shared/footer" %>
</html>
