<!DOCTYPE html>
<html>
  <head>
    <!-- Twitter Cardメタタグ -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DreamScope100 - 人生でしたい100のこと">
    <meta name="twitter:description" content="あなたの人生の目標を管理し、達成をシェア！DreamScope100で夢を叶えよう！">
    <meta name="twitter:image" content="https://f6a8-2001-3b0-306-17da-5c73-ffbe-67b3-651e.ngrok-free.app/images/thumbnail.jpg"><!-- 本番環境に移すタイミングで修正 -->

    <!-- Open Graphメタタグ（他のSNSでも利用可能） -->
    <meta property="og:title" content="DreamScope100 - 人生でしたい100のこと">
    <meta property="og:description" content="あなたの人生の目標を管理し、達成をシェア！DreamScope100で夢を叶えよう！">
    <meta property="og:image" content="https://f6a8-2001-3b0-306-17da-5c73-ffbe-67b3-651e.ngrok-free.app/images/thumbnail.jpg"><!-- 本番環境に移すタイミングで修正 -->
    <meta property="og:url" content="https://f6a8-2001-3b0-306-17da-5c73-ffbe-67b3-651e.ngrok-free.app"><!-- 本番環境に移すタイミングで修正 -->
    <meta property="og:type" content="website">

    <meta name="current-user-id" content="<%= current_user&.id %>">

    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <% if current_user %>
    <meta name="current-user-id" content="<%= current_user.id %>">
  <% end %>
</html>
